.CreateForm{
    display : flex;
    border : 3px solid skyblue;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -70%) scale(1.3);
}
.CreateForm_g{
    display : flex;
    border : 3px solid skyblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}
.CreateForm_t{
    display : flex;
    border : 3px solid skyblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}
.CreateForm2{
    display : flex;
    border : 3px solid pink;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -90%) scale(0.8);
}
.CreateForm3{
    display : flex;
    border : 3px solid pink;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -90%) scale(0.8);
}
.FindPost{
    display : flex;
    border : 3px solid skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

.FormButton
{
    border: 3px solid skyblue;
    background-color: var(--clr-white);
    color : black;
}

.RevLabel{
    border: 1px solid black;
    background-color: var(--clr-white);
    color : black;
}

.ReviewLabel {
    border: 1px solid black;
    background-color: var(--clr-white);
    color : black;
}
.ShowReview{
    font-size: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    border : 1px solid black;
    display: grid;
    place-items: center; /* 수직 및 수평 가운데 정렬 */
    padding: 10px;
    /* 추가적인 스타일링 규칙 */
}

.showDate{
    font-size : 13px;
}