.Loading{
    border: 3px solid lightskyblue;
    background-color: var(--clr-white);
    color: var(--dark-shadow);
}
.Loading_location{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.Loading_main{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}