.kakaoMap{
    height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kakaoMap2{
    height: 30vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.seo{
    display : flex;
    border : 3px solid skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.textArea{
    resize : none;
}