.parent-container {
    position: relative;
    z-index: 10000;
}
.postmodal{
    position: relative;
    z-index: 20000;
    background : rgba(255, 255, 255, 1);
    left:0;
    top:-15px;
    height:100%;
    width:100%;
}