.youtube_button{
    border: 3px solid pink;
    background-color: var(--clr-white);
    color: var(--dark-shadow);
}

.youtube_menu{
    display: flex;
    justify-content: center;
    margin-left: -840px;
}

.Banner_menu{
    z-index: 0;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: -20px;
}
.bannerButton{
    border: 3px solid #FFC8DD;
    background-color: var(--clr-white);
    color : black;
}