.comment-post-container {
  margin-top: 20px;
}

.comment-post-title {
  margin-bottom: 10px;
}

.comment-post-input-container {
  display: flex;
  margin-bottom: 10px;
}

.comment-post-input-container > .ant-input {
  flex: 1;
  margin-right: 10px;
}

.comment-post-list {
  margin-top: 10px;
}

.comment-post-item {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-post-content {
  flex: 1;
}

.comment-post-likes {
  display: flex;
  align-items: center;
}

.comment-post-likes > .ant-btn {
  margin-right: 10px;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
}

.comment-post-like-button.liked {
  color: #fff;
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}

.comment-post-submit-button {
  font-size: 15px;
  color: #ffffff;
  padding: 10px 16px;
}

.comment-post-submit-text {
  color: #ffffff;
}
